services:
  motioneye:
    image: ccrisan/motioneye:master-amd64
    container_name: "{{.instance_id}}-motioneye"
    restart: unless-stopped
    privileged: {{.enable_usb_cameras}}
{{- if not .enable_usb_cameras }}
    user: "{{.puid}}:{{.pgid}}"
{{- end }}
    ports:
      - "{{.http_port}}:8765"
{{- if .enable_network_cameras }}
      - "{{.camera_port_1}}:8081"
      - "{{.camera_port_2}}:8082"
      - "{{.camera_port_3}}:8083"
      - "{{.camera_port_4}}:8084"
      - "{{.camera_port_5}}:8085"
{{- end }}
    environment:
      - "TZ={{.timezone}}"
{{- if .admin_password }}
      - "ME_PASSWORD={{.admin_password}}"
{{- end }}
    volumes:
      - "{{ configPath }}/motioneye:/etc/motioneye"
      - "{{ dataPath }}/motioneye:/var/lib/motioneye"
{{- if .enable_usb_cameras }}
    devices:
      - /dev/video0:/dev/video0
      - /dev/video1:/dev/video1
      - /dev/video2:/dev/video2
      - /dev/video3:/dev/video3
{{- end }}
    labels:
      - "libreserv.app={{.instance_id}}"
      - "libreserv.app.name={{.app_name}}"
