[Unit]
Description=Luna rapidinstall
Documentation=https://gt.plainskill.net/LibreLoom/LibreServ
After=live-config.service live-boot.service local-fs.target
ConditionPathExists=/usr/lib/luna-installer/start.sh

[Service]
Type=simple
ExecStart=/usr/lib/luna-installer/start.sh
StandardInput=tty
StandardOutput=inherit
StandardError=inherit
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
Restart=no

[Install]
WantedBy=multi-user.target
