services:
  homeassistant:
    image: lscr.io/linuxserver/homeassistant:2026.3.4
    container_name: "{{.instance_id}}-homeassistant"
    environment:
      - PUID={{.puid}}
      - PGID={{.pgid}}
      - TZ={{.timezone}}
    volumes:
      - "{{ dataPath }}/config:/config:z"
    ports:
      - "{{.port}}:8123"
    restart: unless-stopped
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    security_opt:
      - no-new-privileges:true
    read_only: true
    tmpfs:
      - /tmp:noexec,nosuid,size=100m
    labels:
      - "libreserv.app={{.instance_id}}"
      - "libreserv.app.name={{.app_name}}"
