/target
/web/node_modules
/web/dist
/crates/lunad/web/dist
*.db
*.db-wal
*.db-shm
/os/work
/os/dist
/desktop/target
/desktop/node_modules
/desktop/dist
/desktop/release
/desktop/packaging/flatpak/build-dir
/desktop/packaging/flatpak/.flatpak-builder

# local luna dev data dir
/dev
